@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@model Personel

<div class="card text-center">
    <div class="card-header">
         <p4 style="color: red"> Personel Silme İşlemi  </p4>
    </div>
    <div class="card-body">
      @Model.Id. Id'ye sahip olan @Model.Ad @Model.Soyad.ToUpper() adlı personelin kaydını silmek istediğinize emin misiniz?
    </div>
    <div class="card-footer">
        <form asp-controller="PersonelListele" asp-action="Delete" method="post"> 
            <input type="hidden" asp-for="Id"/>       
            <button class="btn btn-primary" type="submit"> Onay</button>
            <a asp-controller="PersonelListele" asp-action="Index" class="btn btn-secondary" type="button"> Vazgeç</a>
        </form>
    </div>
</div>



